<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('后台管理')" />
</head>
<body>
    <!-- 导航栏 -->
    <th:block th:include="/admin-ui/include :: nav(0)" />

    <!-- 中间内容 -->
    <div class="m-padding-tb-large" style="padding-bottom: 6em !important;">
        <div class="ui container">
            <div class="ui success large message">
                <h3>Hi，</h3>
                <p>[[${session.user.nickname}]]，欢迎登录( ﹡ˆoˆ﹡ )</p>
            </div>
            <img class="ui rounded image" th:src="@{/images/about.jpg}">
        </div>
    </div>

    <!-- 底部栏 -->
    <th:block th:include="/admin-ui/include :: footer" />
</body>
<th:block th:include="include :: common-js" />
<script>
    $("#toggle").click(function () {
        $(".m-item").toggleClass("m-moblie-hide");
    });
    $('.ui.dropdown').dropdown({
        on: "hover"
    });
    $('#selects').dropdown();
</script>
</html>